.card-body {
    text-align: center;
    margin: auto;
    width: 90%;
    background-color: #ECECEC;
}

.panelControl {
    display: flex;
    height: 15vh;
    margin-bottom:2% ;
    
}
.monitor{
    margin: auto;
    width: 30%;
    height: 10vh;
}
.age {
    margin:auto!important;
    width: 20%!important;
}

.email{
    width: 80%;
   
}

.formArea {
    width:100%;
    display: inline-flex;
    flex-wrap: nowrap;
}

.form-control{
    width:80%;

}

.event{
    margin-right:1%
}

.containerCards {
    display: flex;
    margin: auto;
    width: 90%;
    align-items: flex-start;
    justify-content: start;
}

.CardName,
.invitation {
    width: 100%;

}

.CardStyleInvitation {
    margin: auto;
    padding: 5%;
}

.Card-text {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5%;
}

.cardPreview {
    width: 100%;
    height: 30%;
}

.invitation {
    border: 4px inset #000066;

}

.item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add {
    margin-left: 5%;
}


.inputName {
    margin: auto;
  padding: 2%;
}

.footerContent {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    background-color: #ffff;

}

.redes {
    margin: 3%;
    text-align: center;
    color: black;
}

.btn-width {
    width: 100%;
}

.btn-default {
    margin-top: 1%;
    border-color: #515253;
}

.btnCV {

    background-color: #818283;
    border-color: none !important;
}

.btnCV:hover {
    width: 100%;
    background-color: #515253;

}

.btnCV a {
    color: #ffff;
    text-decoration: none;
}

.btnCV a:hover {
    color: #ffff;
    ;

}

.centerElement{
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
}

.save{
    color: rgb(35, 255, 64);
}

.text{
    color: #000;
}

.panelConfirm{
    text-align: center;
    display: none;
}

.accordion{
    margin: auto;
    width: 90%!important;
}