.card-body {
    text-align: center;
    height:80vh;
    margin: auto;
    width: 90%;
   background-image:url("img/generadorFondo.png") ;
   background-repeat: no-repeat;
   background-size:cover;
}


.monitor{
    margin: auto;
    width: 30%;
    height: 10vh;
    background-color:#ECECEC ;
    color:#000;
}
.age {
    margin:auto!important;
    width: 20%!important;
}

.email{
    width: 80%;
   
}

.formArea {
    margin: auto;
    padding: 3%;
    width:90%;
    display: inline-flex;
    flex-wrap: nowrap;
    background-color:#46cd88 ;
    text-align: center;
    
}
.panel{
    text-align: center;
    padding: 2%;
    width: 90%;
    margin: auto;
    display: flex;
    height: 30%;
    background-color: #46cd88;
}

.form-control{
    width:80%;

}

.event{
    margin-right:0.5%;
    margin-left:1%
}

.sectionDos{
    height: 90vh;
}

.containerCards {
    display: flex;
    margin: auto;
    width: 90%;
   height: 70%;
    align-items: flex-start;
    justify-content: start;
 
}

.card{
    border: none;
}

.CardName {
    width: 100%;
    height: 100%;
 overflow: scroll;
 background-color: #46cd88;
}

.preference{
    width: 100%;
    height: 100%;
 background-color: #46cd88;
}

.invitado{
    text-align: center;
    background-color: #46cd88;
}

.accordion-button{
    background-color: #ECECEC!important;
    color: #000!important;
 

}

.time{
    width: 50%;
}

.Card-text {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5%;
}

.cardPreview {
    width: 100%;
    height: 100%;
}

.invitation {
    border: 4px inset #000066;

}

.item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add {
    margin-left: 5%;
    background-color: #952fea;
    border: none;
}

.add:hover {
    margin-left: 5%;
    background-color: #fff;
    color:#952fea;
}

.inputName {
    margin: auto;
  padding: 2%;
}

.footerContent {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    background-color: #ffff;

}

.redes {
    margin: 3%;
    text-align: center;
    color: black;
}

.btn-width {
    width: 100%;
}

.btn-default {
    margin-top: 1%;
    border-color: #952fea;
    background-color:  #952fea;
    color: #fff;
    
}

.btnCV {

    background-color: #818283;
    border-color: none !important;
}

.btnCV:hover {
    width: 100%;
    background-color: #515253;

}

.btnCV a {
    color: #ffff;
    text-decoration: none;
}

.btnCV a:hover {
    color: #ffff;
    ;

}

.centerElement{
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
}

.save{
    color: rgb(35, 255, 64);
}

.text{
    color: #000;
}

.panelConfirm{
    text-align: center;
    display: none;
}

.WidthReport{
    margin: auto;
    width: 90%!important;
}

.btnSend{
    background-image:url("img/whatsapp.png") ;
}